.sign-in {
    display: flex;
    padding: 20px;
    flex-direction: column;
    margin-top: 10%;
  margin-left: 32%;
  padding: 50px;
  width: 500px;
  justify-content: center;
  height: auto;
  background-color: aliceblue;
  border: black solid;
  border-radius: 50px;
  margin-bottom: 10px;
}
.Tittle{
    color: rgb(215, 156, 39);
    text-align: center;
    font-size: 55px;
    font-weight: bold;
}