.container {
    width: 100%;
    margin: 0;
    & .nav-link {
            color: #fff;
            background: #6576ff;
            margin-right: 5px;
    
            // &:hover {
            //     color: #779341;
            // }
        }
    
    & .tab {
        background-color: rgb(254, 254, 254);
        color: rgb(30, 30, 30);
        border: 1px solid rgb(230, 230, 230);
        padding: 20px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}