.sign-in-and-sign-up {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #FFFFFF;

    background: url(../../images/background/hotel_room.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}