.tablestyle{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    @media only screen and (max-width: 600px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
}
  

.tables{
    background-color: rgba(255, 255, 255, 0.353);
    padding: 20px 0px;
  }
  .pagination{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(242 242 242);
    justify-content: center;
  }