.balsheet-chart {
  width: 40%;
  height: 100%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;

  & .revenue {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    & .period {
      width: 100%;
      padding-top: 40px;

      & .period-title-income {
        font-size: 14px;
        color: #779341;
      }

      & .period-title-expense {
        font-size: 14px;
        color: #ac3e31;
      }

      & .period-revenue {
        font-size: 23px;
      }

      & .percent-increase {
        font-size: 13px;
        color: #6ab187;
      }

      & .percent-decrease {
        font-size: 13px;
        color: #ac3e31;
      }
    }
  }
}
