.sign-in {
    margin-top: 10%;
    margin-left: 32%;
    padding: 50px;
    width: 450px;
    justify-content: center;
    height: 500px;
    background-color: aliceblue;
    border: #e6bd4d solid;
    border-radius: 50px;
}